<!DOCTYPE html>
<html lang="fr">
<% DBN = nameDB.slice(0, nameDB.length-4) %>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>AGD | Acceuil <%= DBN %></title>
</head>
<body>
    <h1>Acceuil <<i><%= DBN %></i>>'s DB</h1>
    <h2>Vos données:</h2>
    <ul>
        <li>Username: <%= token_info.u_n %></li>
        <li>Password: <%= token_info.pwd %></li>
        <li>NºDroits: <%= token_info.rights%></li>
    </ul>
    <h2>Actions:</h2>
    <a href="/src/mod/db/<%= DBN %>/add-by-ISBN"><button>Add by ISBN</button></a><br>
    <a href="/src/mod/db/<%= DBN %>/add"><button>Add</button></a><br>
    <a href="/src/view/db/<%= DBN %>"><button>View</button></a><br>
    <a href="/src/mod/db/<%= DBN %>/add?loop=true"><button>Ajouter en boucle</button></a><br><br>
    Retourner à l'<a href="/">acceuil</a>
</body>
</html>