<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>AGD | Visu user <%= user.name %> </title>
</head>
<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Password hash</th>
            <th>Rights</th>
            <th>Moment de création</th>
        </tr>
            <tr>
                <td> <%= user.name %> </td>
                <td> <%= user.pswd %> </td>
                <td> <%= user.rgts %> </td>
                <td> <%= user.time %> </td>
            </tr>
    </table>
</body>
</html>